html {
  padding: auto;
}
body {
  padding-bottom: 1000px;
}

.web-content {
  display: flex;
  justify-content: flex-end;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.item-list {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 250px;
  border-color: grey;
  padding: 20px;
}

.item-description {
  display: grid;
  margin: auto;
}
.photo-product {
  width: 100%;
}

.brand-item {
  font-style: normal;
  color: rgb(69, 69, 69);
  font-family: Montserrat;
  font-size: 16px;
}

.item-txt {
  font-style: normal;
  font-family: Montserrat;
}

.buy-btn {
  display: flex;
  background-color: #96d059;
  color: white;
  font-family: Montserrat;
  font-style: bold;
  font-size: 20px;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buy-btn:hover {
  opacity: 0.7;
}

.buy-btn:active {
  opacity: 0.4;
}

.dropdown-sidebar {
  display: flex;
  flex: 20px;
}
